In [1]:
#tuple
cities = ('台北', '台中','高雄','台南','花蓮')
cities

('台北', '台中', '高雄', '台南', '花蓮')

In [2]:
for city in cities:
    print(city)

台北
台中
高雄
台南
花蓮

In [3]:
cities = '台北', '台中','高雄','台南','花蓮'
cities

('台北', '台中', '高雄', '台南', '花蓮')

In [7]:
#dictionary
codes={"tw":"Taiwan",
       "jp":"Japan",
       "hk":"Hong Kong"
       }

codes["tw"]

'Taiwan'

In [8]:
#新增
codes["us"] = "unitedstates"
codes

{'tw': 'Taiwan', 'jp': 'Japan', 'hk': 'Hong Kong', 'us': 'unitedstates'}

In [11]:
for key in codes:
    print(f"key:{key}")
    print(f"value:{codes[key]}")
    print("=========")

key:tw
value:Taiwan
=========
key:jp
value:Japan
=========
key:hk
value:Hong Kong
=========
key:us
value:unitedstates
=========

In [12]:
display(codes)

del codes['us']
codes

{'tw': 'Taiwan', 'jp': 'Japan', 'hk': 'Hong Kong', 'us': 'unitedstates'}

{'tw': 'Taiwan', 'jp': 'Japan', 'hk': 'Hong Kong'}

In [13]:
list(codes)

['tw', 'jp', 'hk']

In [14]:
len(codes)

3

In [15]:
codes.clear()
codes

{}

In [16]:
del codes
codes

NameError: name 'codes' is not defined

In [17]:
#codes={"tw":"Taiwan",
#       "jp":"Japan",
#       "hk":"Hong Kong"
#      }

codes = {}
codes["tw"] = "taiwan"
codes["jp"] = "japan"
codes["hk"] = "hong kong"
codes

{'tw': 'taiwan', 'jp': 'japan', 'hk': 'hong kong'}